body.portfolio {
  font-size: 1rem;
  grid-template-columns: 1fr max(45rem, 80%) 1fr;
}

.header {
  display: flex;
  justify-content: flex-start;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.header .header-space {
  flex-grow: 1;
}

.header > nav {
  padding: 0;
  line-height: 1.5;
}

.header > nav a, .header > nav a:visited {
  /* margin: 0.5rem 0.5rem 0.5rem 0.5rem; */
  margin: 0rem;
}

a.navbar-brand {
  text-decoration: none;
}

form > .form-group {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.category-condition {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.category-condition:not(:last-of-type) {
  margin-bottom: 1rem;
}

.category-condition .tech-tags div {
  display: inline-block;
}

.projects {
  margin-block-end: 1.5rem;
}

.projects > details {
  margin-bottom: 0;
}

.projects > details:first-of-type:not(:last-of-type) {
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.projects > details:not(:first-of-type):not(:last-of-type) {
  border-bottom: 0;
  border-radius: 0;
}

.projects > details:last-of-type:not(:first-of-type) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.projects > details[open] > summary {
  border-bottom: 1px solid var(--border);
  background-color: var(--accent-bg);
}

.projects > details[open] {
  background-color: #fff;
}

.projects > details > summary:first-of-type {
  list-style: none;
}

figure > img,
figure > picture > img {
  display: block;
  margin-inline: auto;
}

.container p {
  margin: 0.5rem 0 1.5rem 1em
}

h2, h5 {
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
}

.notice.alert-info {
  background-color: #bcdfff;
  color: #0067C0;
  border-color: #0067C0;
}

.notice.alert-warning {
  background-color: #fff3cd;
  color: #c7980c;
  border-color: #c7980c;
}

.notice.alert-danger {
  background-color: #ffd4d1;
  color: #930403;
  border-color: #930403;
}
