@media print {
  @page  {
    margin: 1cm 1cm;
    size: A4;
  }

  header.header {
    display: none;
  }

  .header {
    display: none;
  }

  ::details-content {
    content-visibility: visible;
    height: auto !important;
  }

  .portfolio select {
    border: none;
  }
  .projects > details > summary:first-of-type {
    list-style: none;
  }

  .no-print {
    display: none;
  }
  .form-group.row.no-print {
    display: none;
  }
  footer {
    display: none;
  }
}
