<%= link_to t(:application_name), root_url, id: "logo", class: "navbar-brand", data: {"turbolinks" => false} %>

<div class="header-space"></div>

<nav>
  <% if user_signed_in? %>
    <%= link_to t(:admin_name), rails_admin.dashboard_path %>
    <%= link_to t(:sign_out), destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to t(:sign_in), new_user_session_path %>
  <% end %>
</nav>
